@model IEnumerable<EnrollmentApplication.Models.Course>

<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.CourseDescription</li>
        }
    </ul>
</div>
